{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/prefer-stateless-function": 0,
    "prefer-destructuring": ["error", {"array": false}],
    "no-await-in-loop": 0,
    "no-restricted-syntax": ["error", "ForInStatement"],
    "no-console": 0,
    "react/jsx-wrap-multilines": 0,
    "operator-linebreak": ["error", "after", {
      "overrides": {"?": "ignore", ":": "before", "&&": "before"}
    }]
  }
}
