.ad {
  border-radius: 2px;
  background-color: #e6e6e6;
  padding: 5px;
  color: #2a2526;
  font-family: Calibri;
}

.adHeadText {
  text-align: center;
  font-weight: bold;
}

.adAddress {
  text-align: center;
}

.adPrice {
  font-weight: bold;
  text-align: right;
}
