@import "./colorPalette";

.ads-list-container {
  float: right;
  border-radius: 2px;
  width: 83.5%;
  background-color: $block-color;
  border: solid $main-color 1px;
  text-align: center;
}

.loading-text {
  text-align: center;
  font-weight: bold;
}
