@import "./colorPalette";

.head {
  background-color: $block-color;
  border-bottom: solid $main-color 1px;
}

.head-title {
  color: black;
  display: inline;
  background-color: $main-color;
  font-family: "Arial Black";
  margin: 0px 5px 0px;
}

.head-title-description {
  color: gray;
  font-family: Calibri;
  font-size: 15px;
  margin: 0px 15px;
  padding-bottom: 5px;
}
