@import "./colorPalette";
@import "./adaptiveSizes.scss";

.pagination {
  margin: auto;
  text-align: center;
  font-family: Calibri;
  clear: both;
}

.page-count{
  font-size: 15px;
}

.ads-count-text {
  font-size: 15px;
  margin: 0px;
}

.ads-count {
  font-weight: bold;
  color: #262c43;
}

.page-btn {
  padding: 5px;
  background: $main-color;
  border: none;
  border-radius: 5px;
  color: black;
  margin: 5px;
  outline: none;
  &:hover {
    color: $main-color;
    background: black;
  }
  @media only screen and (max-width: 600px) {
    width: 30%;
    height: $btn-input-height;
  }
}
